// Helper
@function map-deep-get($map, $keys...) {
  @each $key in $keys { $map: map-get($map, $key); }
  @return $map;
}

$_fontSizes: (
  11: ( line-height: 16px, letter-spacing: 0.005em ),
  12: ( line-height: 16px, letter-spacing: 0em ),
  13: ( line-height: 24px, letter-spacing: -0.0025em ),
  14: ( line-height: 24px, letter-spacing: -0.006em )
);

$_fontWeights: ( "regular": 400, "bold": 600 );

$_colors: (
  blue: #18A0FB,
  red: #F24822,

  black: #000,
  black-8: rgba(#000, .8),
  black-3: rgba(#000, .3),

  background-white: #fff,
  background-grey-f0: #f0f0f0
);


@mixin text( $size: 11, $variant: 'regular' ) {
  @if not map-has-key($_fontSizes, $size) {
    @error 'Nope! #{$size} does not exist as a size.';
  } @else {
    font-size: $size + px;
    line-height: map-deep-get($_fontSizes, $size, line-height);
    letter-spacing: map-deep-get($_fontSizes, $size, letter-spacing);
  }

  @if not map-has-key($_fontWeights, $variant) {
    @error 'Nope! #{$variant} does not exist as a variant.';
  } @else {
    font-weight: map-get($_fontWeights, $variant);
  }
}


:root {
  @each $name, $color in $_colors {
    --color--#{$name}: #{$color};
  }  
}

$color--blue: var(--color--blue);
$color--red: var(--color--red);

$color--black: var(--color--black);
$color--black-8: var(--color--black-8);
$color--black-3: var(--color--black-3);

$color--background-white: var(--color--white);
$color--background-grey-f0: var(--color--grey-f0);


:export {
  fontWeights: #{$_fontWeights}
}